for interface only
	ip = 
	returnPage = 
	sourceDir = /var/nthuoj/source/
	speJudgeDir = 
    parJudgeDir = 
	testdataDir = /var/nthuoj/testdata/
	errMsgDir = 
	judge = /tmp/judge.sh
	interface.log = /tmp/interface.log
	DEBUG = true
for both
	judgeFileDir = /tmp/judgeFile/
	errMsg = /tmp/errMsg
	result = /var/nthuoj/result
	judge.config = /tmp/judge.config

for judge only
	runcode = /tmp/runcode.sh
	blacklist = /tmp/blacklist
	nthuoj.log = /tmp/nthuoj.log
	c compile arg = -O2 -lm -std=c99
	cpp compile arg = -O2 -lm -std=c++11
	outputLimit = 32

